body {
  width: 100vw;
}

h1 {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 1.9rem;
}

h3 {
  color: #ffff;
  font-size: 16px;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

h5 {
  font-size: 1rem;
}

h2 {
  color: #101010;
  font-size: 20px !important;
  font-weight: 800;
  font-family: "Archivo", sans-serif;
}

h4 {
  color: #ffff;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
}

.p-white {
  color: #ffff;
  margin-bottom: 25px;
}
header {
  height: auto;
  position: sticky;
  top: 0;
  z-index: 10;
}
a,
p {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  margin: 0;
  text-decoration: none;
  color: none;
}

ul {
  list-style: none;
  color: #ffff;
  width: fit-content;
}
li {
  width: fit-content;
}
.upper-banner-header {
  background-color: #222222;
}
.header-promos {
  color: #fedb01;
  height: 21px;
  font-weight: 300;
  width: auto;
  height: auto;
}
.custom-navbar {
  background-color: #101010;
}

.header-promos:hover {
  border-bottom: 1px solid #fedb01;
  height: 21px;
}

.header-container {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #101010;
  height: auto;
}

#header-logo {
  height: 70px;
  width: 70px;
  padding-right: 0px !important;
}
.navbar-collapse .nav-link,
.active {
  color: #ffff !important;
  padding: 0px !important;
  margin-right: 18px;
  font-size: 16px;
  font-weight: 700;
  width: fit-content;
  height: 25px;
  padding-bottom: 3px;
}

.header-link {
  margin-right: 18px;
  font-weight: 700;
}

.header-link:hover {
  margin-bottom: 0px;
  color: #ffff;
  height: 25px;
  border-bottom: 3px solid #fedb01;
  padding-bottom: 0px;
}
.active {
  color: #fedb01 !important;
  font-weight: 700;
}

#header-toggle {
  background-color: #fedb01;
  margin-right: 3vw;
}
.p-user-page {
  font-size: 1rem;
}
.fa-regular,
.fa-user,
.fa-user-large,
.fa-bag-shopping,
.fa-arrow-right-from-bracket,
.fa-brands {
  color: #ffff !important;
  font-size: 22px;
  margin: 14px;
}

.fa-add-icon {
  color: #101010 !important;
  font-size: 14px !important;
}

.header-icons {
  margin: 0px;
}

.newsletter-container,
.container-rights {
  background-color: #222222;
  display: flex;
  justify-content: center;
}

#newsletter-div {
  width: 90vw;
}

.p-highlight {
  color: #fedb01;
}

.form-check {
  display: flex;
  align-items: center;
  padding-left: 0px;
  height: 20px;
}

.form-check > label {
  color: #ffff;
  font-size: 16px;
  margin-right: 10px;
}

.checkbox-footer[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-color: #222222;
  border: 1px solid #ffff;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  padding-left: 0px;
}

.checkbox-footer[type="checkbox"]:checked::before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 3px;
  left: 7px;
  transform: rotate(45deg);
}

.newsletter-form-mail {
  width: auto;
}
.newsletter-form-mail > div > input {
  margin-right: 0px;
  padding: 0px;
}

.body-newsletter {
  width: 65vw;
  padding: 3vw 0vw;
}
.input-textbox {
  border-style: none;
  min-width: 23vw;
  height: 45px;
  margin-right: 10px;
  text-align: center;
}
.input-mail {
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
}

.body-newsletter > p {
  margin-bottom: 10px;
}
.input-submit {
  background-color: #fedb01;
  color: #101010;
  height: 45px;
  font-family: "archivo", sans-serif;
  font-size: 20px;
  font-weight: 800;
  border-style: none;
  padding: 10px 15px 10px 15px;
}
.input-submit:hover {
  background-color: #101010;
  color: #fedb01;
  font-family: "archivo", sans-serif;
  font-weight: 800;
  border-style: none;
}

.general-links {
  background-color: #101010;
}
.general-links > .container {
  border-top: 1px solid #ffff;
}

.p-rights {
  color: #828282;
  font-weight: 800;
}

.main-footer-links {
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
}

.main-footer-links:hover {
  color: #ffff;
  border-bottom: 1px solid #ffff;
}
.payment-icons {
  height: 30px;
  width: 32px;
  margin-right: 5px;
}
.link-footer {
  color: #828282;
  font-size: 16px;
}
.link-footer:hover {
  color: #828282;
  border-bottom: 1px solid #828282;
}

.l-icon {
  height: 18px;
  width: 30px;
}

.ul-footer > li {
  margin-bottom: 10px;
}

.upper-header-banner {
  background-color: #fedb01;
}

#link-header-banner {
  font-size: 14px;
  font-weight: 600;
  font-family: "Archivo", sans-serif;
  color: #101010 !important;
  height: 18px;
}
#link-header-banner:hover {
  border-bottom: 1px solid #101010;
}

.lower-header-banner {
  padding: 0px;
}

.imgs-header-banner {
  height: 605px;
  position: relative;
  width: 100%;
}

.imgs-header-banner > h1 {
  position: absolute;
  z-index: 1;
  align-self: center;
  margin-top: 10px;
  color: #ffff;
  font-weight: 700;
}

.left-img-header-banner {
  background-image: url(../images/VICIO_IMAGEN-CAMPANSA-1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  background-blend-mode: darken;
}

.right-img-header-banner {
  background-image: url(../images/kiwi-bar-2-1024x768.webp);
  opacity: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: darken;
}

.pri-btn {
  display: block;
  background-color: #fedb01;
  color: #101010 !important;
  text-align: center;
  font-family: "archivo", sans-serif;
  font-weight: 800;
  font-size: 20px;
  width: fit-content;
  padding: 10px 15px;
}
.pri-btn:hover {
  background-color: #101010 !important;
  color: #fedb01 !important;
}

.pri-btn-2 {
  background-color: #ffff !important;
  padding: 10px 15px 10px 15px;
  width: auto;
  height: auto;
  color: #101010;
  font-family: "archivo", sans-serif;
  font-weight: 800;
  font-size: 20px;
  border: 0.8px solid #101010;
}

.pri-btn-2:hover {
  background-color: #101010 !important;
  color: #ffff;
}

.snd-btn-1 {
  background-color: #ffff !important;
  padding: 10px 15px 10px 15px;
  width: auto;
  height: auto;
  color: #101010;
  font-family: "archivo", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  border: 0.8px solid #101010;
}
.snd-btn-1:hover {
  background-color: #101010 !important;
  color: #ffff;
}

.snd-btn-2 {
  background-color: #ffff !important;
  padding: 10px 15px 10px 15px;
  width: auto;
  height: auto;
  color: #101010;
  font-family: "archivo", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  border: 0.8px solid #828282a9;
}
.snd-btn-2:hover {
  background-color: #e2e2e2 !important;
}

.left-img-header-banner > a,
.right-img-header-banner > a {
  margin-top: 180px;
}

.left-img-body-banner {
  background-image: url(../images/fastival.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 66%;
}

.right-img-body-banner {
  background-image: url(../images/princesa.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-body-banner {
  position: relative;
  height: 600px;
  background-color: #222222;
  max-height: 600;
}

.tag-h {
  position: absolute;
  top: 28%;
  z-index: 2;
  text-align: center;
  padding: 10px 15px 10px 15px;
  height: auto;
  width: auto;
  background-color: #101010;
  color: #fedb01;
  font-size: 35px !important;
}

.l-tag-h {
  position: absolute;
  top: 24%;
  z-index: 2;
  text-align: center;
  padding: 10px 15px 10px 15px;
  height: auto;
  width: auto;
  background-color: #101010;
  color: #fedb01;
  font-size: 25px !important;
}

.container-body-banner > .pri-btn {
  position: absolute;
  top: 50%;
  z-index: 2;
}

.div-best-seller {
  border-radius: 0px;
  border: 0px;
  position: relative;
  height: auto;
}

.img-product {
  position: relative;
  display: block;
  background-color: #e2e2e2;
}

.img-product::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/favicon.webp");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(100% - 20px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.img-product:hover::before {
  opacity: 1;
}

.card-title {
  font-family: "archivo" sans-serif;
  font-weight: 800;
}

.title-categories {
  background-color: #101010;
  color: #ffff;
  width: fit-content;
  font-size: 1rem;
  font-weight: 700;
}

.p-index-categories {
  color: #101010;
  width: 100%;
  font-size: 0.87rem;
  font-weight: 600;
}

.category-img-link {
  height: 100%;
}

.category-img {
  height: 100%;
  width: 97%;
  border-radius: 0px;
}

.div-category {
  border-radius: 0px;
  border: 0px;
  height: 410px;
}

.body-ctagory {
  width: fit-content;
}

.img-menu-product {
  height: 100% !important;
}

.img-menu-product {
  height: 189px !important;
}

.input-user {
  background-color: #ffff;
  color: #101010;
  font-family: "archivo", sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 5px 10px;
  border-style: none;
  border: 0.5px solid #828282;
  border-radius: 1.5px;
}

.rm-input-style {
  border: none;
  background-color: #ffff;
  font-size: 0.8rem;
  border: 0px;
}

.user-page-p {
  color: #828282;
}

.label-style {
  display: none;
}

.checkbox-user {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-color: #ffff;
  border: 1px solid #828282;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
  padding-left: 0px;
  border-radius: 1.5px;
}

.checkbox-user:checked::before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  border: solid #101010;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 3px;
  left: 7px;
  transform: rotate(45deg);
}

.input-submit {
  display: block;
  background-color: #fedb01 !important;
  color: #101010 !important;
  text-align: center;
  font-family: "archivo", sans-serif;
  font-weight: 800;
  font-size: 20px;
  width: 100%;
  padding: 10px 15px;
}
.input-submit:hover {
  background-color: #101010 !important;
  color: #fedb01 !important;
}

.input-snd-submit {
  display: block;
  background-color: #ffff;
  color: #101010 !important;
  text-align: center;
  height: 45px;
  font-family: "archivo", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  width: 100%;
  padding: 10px 15px;
  border: 0.8px solid #101010;
}
.input-snd-submit:hover {
  background-color: #101010 !important;
  color: #ffff !important;
}

.links-on-white {
  font-family: "archivo", sans-serif;
  color: #101010;
  font-weight: 800;
}
.links-on-white:hover {
  border-bottom: 1px solid #101010;
}

#bottom-decoration-account {
  background-color: #e2e2e2;
  width: 100%;
  height: 45px;
}
